<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>
    <link href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:insert="~{header :: nav}"></div>
    <h2 th:text="${mode == 'add'} ? 'Добавить книгу' : 'Редактировать книгу'">
        книга
    </h2>
    <form action="index.html" th:action="@{/save-book(id=${book.id},mode=${mode})}" th:method="post" th:object="${book}">
        <div class="row">
            <div class="col">
                <label for="author" class="form-label">Автор</label>
                <select class="form-select" id="author" th:field="*{author.id}">
                    <option th:each="author : ${authors}"
                                th:value="${author.id}"
                                th:text="${author.name}"
                    >
                    А.С. Пушкин
                    </option>
                </select>
            </div>
            <div class="col">
                <label for="genre" class="form-label">Жанр</label>
                <select class="form-select" id="genre" th:field="*{genre.id}">
                    <option th:each="genre : ${genres}"
                            th:value="${genre.id}"
                            th:text="${genre.name}"
                    >
                        Русская классика
                    </option>
                </select>
            </div>
        </div>
        <div class="row>">

                <label for="title" class="form-label">Название</label>
                <input class="form-control" id="title" value="Капитанская дочка" th:field="*{title}" />
                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong person name error</div>
        </div>
        <div class="row">
            <div class="col">
            <h4>
                Комментарии
            </h4>
            <ul>
                <li th:each="comment : ${comments}" th:text="${comment.text}">
                    Комментарий
                </li>
            </ul>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-outline-primary">OK</button>
        <a type="button" class="btn btn-outline-secondary" href="index.html" th:href="@{/}">Назад</a>

    </form>
</div>
</body>
</html>