<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.homework.popov.dao.QuestionDaoImpl">
        <constructor-arg name="resourceName" value="questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.homework.popov.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"/>
    </bean>

    <bean id="ioService" class="ru.otus.homework.popov.service.IOServiceImpl">
    </bean>

    <bean id="converter" class="ru.otus.homework.popov.service.QuestionConverterImpl">
    </bean>

    <bean id="appRunner" class="ru.otus.homework.popov.service.AppRunner">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionConverter" ref="converter"/>
        <constructor-arg name="questionService" ref="questionService"/>
    </bean>

</beans>